@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/***** Base*****/
html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  max-width: 85vw;

  .title {
    color: white;
    margin-bottom: 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47474dbb;
    width: 100%;
    border: 2px solid #565355;
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: rgb(0, 229, 255) 0px 20px 30px -10px;

    .logo-title {
      color:rgb(0, 255, 94);
      margin: 5px 0;
    }

    .primary-nav-list {
      display: flex;
      justify-content: flex-end;
    }

    .primary-nav-link {
      color: white;
      margin-right: 20px;
      list-style-type: none;
      cursor: pointer;
    
      &:hover,
      &:focus {
        color: rgb(0, 255, 94);
      }
    }
  }
}